<config>
   	<event id="start" fileid="apollo">
   		<pattern>start</pattern>
  	</event>

   	<event id="680" fileid="apollo">
   		<pattern>material-680_0_m</pattern>
  	</event>

	<handler type="pl.com.itsense.analysis.event.log.StatisticsCollector">
	</handler>
	
	<report fileid="result" type="pl.com.itsense.analysis.event.log.HTMLReport">
		<property name="" value=""/>
	</report>
   	<file id="apollo" path="/home/P.Pretki/stb/logfileAppolo.log"/>
   	<file id="result" path="/home/P.Pretki/stb/logfileAppolo.log"/>
   	
</config>